<p id="notice"><%= notice %></p>

<h1>ユーザ情報</h1>

<p>
  <strong>ユーザ名:</strong>
  <%= @user.username %>
</p>


<p>
  <strong>氏名:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>部署:</strong>
  <%= @user.busho %>
</p>

<p>
  <strong>権限:</strong>
   <%= @user.admin ?  "あり" : "なし"%>
</p>

<%= link_to '編集', edit_user_path(@user) %> |
<%= link_to 'ユーザ一覧へ', users_path   %>
<%= link_to 'ログアウト', login_path %>
<%= link_to '削除', @user, method: :delete, data: { confirm: '本当に削除していいですか?' } %>


